html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}


body {
	font-family: 'Public Sans' ,  'Arial', 'sans-serif';
	margin: 0;
	padding: 0;
  
}



img {
	vertical-align: middle;
}

hr{
	margin: 0;
}

a{
	text-decoration:none ;
}

h1,h2,h3,h4,p{
	margin: 0;
	padding: 0;
}