.easybank{
  height: 675px;
  background-color: #F4F5F7;
}

.easybank__top{
  width: 100%;
  max-width: 635px;
  padding-top: 96px;
}

.easybank__title{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: #2D314D;
  margin-bottom: 16px;
}

.easybank__text{
  font-family: 'Public Sans';
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

.easybank__list{
  margin: 0;
  padding: 0;
  padding-top: 185px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.easybank__item{
  width: 100%;
  max-width: 215px;
  position: relative;
}

.easybank__item--one{
  
  &::before{
    content: '';
    // position: absolute;
    display: block;
    z-index: 2;
    background-image: url(../images/card.svg);
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
  }
  
}

.easybank__item--two{
  
  &::before{
    content: '';
    // position: absolute;
    display: block;
    z-index: 2;
    background-image: url(../images/phone.svg);
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
  }
  
}

.easybank__item--thri{
  
  &::before{
    content: '';
    // position: absolute;
    display: block;
    z-index: 2;
    background-image: url(../images/man.svg);
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
  }
  
}

.easybank__item--four{
  
  &::before{
    content: '';
    // position: absolute;
    display: block;
    z-index: 2;
    background-image: url(../images/big.svg);
    width: 72px;
    height: 72px;
    margin-bottom: 40px;
  }
  
}

.list__title{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: #2D314D;
  margin-bottom: 25px;
}

.list__text{
  font-family: 'Public Sans';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #9597A5;
}


@include media-max(980px){
  .easybank{
    height: 1530px;
  }
  .easybank__list{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
  }
  
  .easybank__item{
    margin-bottom: 150px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@include media-max(550px){

  .easybank__list{
    padding-top: 0;
    margin-top: 55px;
  }

  .easybank__item{
    // margin: 0;
    text-align: center;
    margin-bottom: 32px;
  }

  .easybank__item--one , .easybank__item--two ,
  .easybank__item--thri , .easybank__item--four {
    &::before{
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }
}

@include media-max(470px){

  .easybank{
    height: 1380px;
  }
  
  .easybank__top{
    padding-top: 40px;
  }
  
  .easybank__title{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.571429px;
    color: #2D314D;
  }
  
  .easybank__text{
    font-family: 'PublicSans';
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
    color: #9597A5;
  }

  .easybank__item{
    width: 100%;
    max-width: 285px;
  }
  
  .list__title{
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.357143px;
  }
  
  .list__text{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.234375px;
  }

  .easybank__item--one , .easybank__item--two ,
  .easybank__item--thri , .easybank__item--four {
    &::before{
      left: 100px;
      bottom: 170px;
    }
  }
  
}

@include media-max(320px){
  .easybank__item--one , .easybank__item--two ,
  .easybank__item--thri , .easybank__item--four {
    &::before{
      left: 80px;
      bottom: 170px;
    }
  }
}